*.pyc
*.csv
*.jpg
*.json
runtime/lastloc.txt
inputs/1_Vel2Grid_input_NevChillan
*Grid2Time*
inputs/4_NLLoc_input_LagMaule
*.hdr
*.hyp
*.buf
*.XZ
*.ZY
*.XY
*grid0*
*.stat
*.scat
*.obs
*4_NLLoc*
last/lastloc.png
*.pickle
*1_Vel2Grid*
*.stations
*.hypo_inv
*.in
*.stat_totcorr
